html, body {
	height: 100%;
	font-family: Itim;
}
body{
	background-color: #ece4fe;
}
.Login{
	font-family: Itim;
	text-align: center;
}
.loginimg{
	width: 40%;
}
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
.salir{
	background-color: #cc5f95;
	color: #fafafa;
}
.salir:hover{
	background-color: #c13a7d;
	color: #fafafa;
}

.img-home{
 	width: 90pt;
 	height: 30pt; 
 	float:left !important;
 }
  @media (max-width: 870px) and (min-width: 50px) {
.img-home {
display: none !important;
}}
#contenedor {
	min-height: 100%;
	height: auto !important;
	height: 100% ;
	margin: 0 auto -60px;
}
.align-bottom{
	vertical-align:bottom;
}
#img_destino {
            height: 200px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
          }
footer p {
	text-align: center;
	color: #A6A88F;
	padding: 0em 0 0 0;
	margin: 1% 0 0 0;
}
footer span{
	color: #A6A88F;
	
}
footer{
	padding: 3% 0 3% 0;

}
.letrarosada{
	color:#c13a7d;
}
.letraazul{
	color:#2ea2d1;
}
.trabajo{
	float: left;
	height: 650px;
	width: 100%; 
	overflow:scroll;
	margin: 0 auto
}
#img_destino {
    height: 200px;
    border: 1px solid #000;
	margin: 10px 5px 0 0;
}