@charset "utf-8";
/* CSS Document */

#menu {
	font-family: Itim;
	width: 100%;
	margin: 60px auto;
	border: 1px solid #222;
	background-color: #643f8c;
	/*background-image: linear-gradient(#fff, #111);*/
	border-radius: 6px;
	box-shadow: 0 1px 1px #777;
}

#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu:before,
#menu:after {
	content: "";
	display: table;
}

#menu:after {
	clear: both;
}

#menu {
	zoom:1;
}

#menu li {
	float: left;
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 #444;
	position: relative;
}

#menu a {
	float: left;
	padding: 12px 30px;
	color: #fafafa;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;
}

#menu li:hover > a {
	color: #fafafa;
	background-color:#441270;
}

*html #menu li a:hover { /* IE6 only */
	color: #fafafa;
}

#menu ul {
	margin: 20px 0 0 0;
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 1;    
	background: #a6b500;;	
	background: linear-gradient(#444, #111);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
	border-radius: 3px;
	transition: all .2s ease-in-out;  
}

#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	_margin: 0; /*IE6 only*/
	box-shadow: -1px 0 0 rgba(250,250,250,.3);		
}

#menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {   
	box-shadow: none;    
}

#menu ul a {    
	padding: 10px;
	width: 130px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
	/*background-image: linear-gradient(#ffffff, #000000);*/
}

#menu ul a:hover {
	background-color: #582982;
	background-image: linear-gradient(#582982, #582982);
	/*background-image: linear-gradient(#666666, #0186ba);*/
}