<head>

  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
     max-width: 50%;
     max-height: 50%;
      margin: auto;
  }
  </style>
</head>
<div class="container ">
    <div class="row" >
        
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="img/carousel/1.jpg" alt="Babyshop Kids En Navidad" class="img-responsive">
                    <div class="carousel-caption">
                        <h3>Babyshop Kids En Navidad</h3>
                        <p></p>
                    </div>
                </div>

                <div class="item">
                    <img src="img/carousel/2.jpg" alt="Mayoristas" class="img-responsive">
                    <div class="carousel-caption">
                        <h3>Mayoristas</h3>
                        <p>Surtimos su almacen, precios al por mayor y detal.</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>  
</div>

<br>
